# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# App
NEXT_PUBLIC_SITE_URL=https://verdixaa.com

SUPABASE_SERVICE_ROLE_KEY=

ADMIN_DASHBOARD_TOKEN=
